<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">Boulder Bike Tour 2020</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Pictures</a>
      <a class="nav-item nav-link" href="#">Tracker</a>
      <a class="nav-item nav-link" href="#">Riders</a>
      <a class="nav-item nav-link btn btn-danger text-white ml-2 p-2">Slogan contest</a> 
    </div>
    
    </div>
  
</nav>