$warning: rgb(255, 218, 8);

.jumbotron{
    margin-bottom: 0;
}

.bg-shade{
    background-color: rgba(0, 0, 0, 0.4);
    min-height: inherit
}

#vh{
    min-height: calc(100vh - 58px);
}

.table{
    margin-bottom: 0;
}